<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Bem-vindo ao App de Exemplo!</h2>
        <p>
          Este aplicativo exibe dados obtidos de uma API pública. Na Página 1, você
          encontrará uma lista de posts. Já na Página 2, é possível visualizar uma lista
          de comentários. Use os botões abaixo para navegar entre as páginas e explorar
          os dados fornecidos pela API.
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botões de Navegação para Página 1 e Página 2 -->
  <ion-button  routerLink="/page1">Ir para Página 1</ion-button>
  <ion-button  routerLink="/page2">Ir para Página 2</ion-button>

</ion-content>
